.navbar-light .navbar-nav .nav-link {
    color: #b3d7ff;
    line-height: 5;
  }
  
  .fas,
  .fa-camera,
  .fa-5x {
    color: red;
    padding: 15%;
    border: 1px solid red;
    border-radius: 50%;
  }